body {
	font-family: "04B_19__", "Lucida Console", Monaco, monospace;
	/*min-height: 1000px;*/
	padding: 0px;
	border: 0px;
	margin: 0px;
	/*overflow: hidden;*/
	/*background: url(../img/background.png);*/
}
@font-face {
	font-family: "04B_19__";
	src: url(../font/04B_19__.woff);
	/*src: url(../font/04B_19__.ttf);*/
}
/*div.wrap {height:100%; overflow:hidden;}*/
canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
	margin-left: auto !important;
	margin-right: auto !important;
	z-index: 0;
}
#info {
	font-family: "Courier New", "Lucida Console", Monaco, monospace;
	position: absolute;
	top: 300px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

#stage {
	min-height: 640px;
	margin-left: auto !important;
	margin-right: auto !important;
	background: #4ac3ce;
	/*height: 100%;*/
	width: 100%;
	/*width: 560px;*/
	/*height: 360px;*/
	/*width: 280px;*/
	/*position: relative;*/
	z-index: 1;
	/*width: auto;*/
	overflow: hidden;
	/*margin: 15px 0px;*/
	border-bottom: 3px solid;
}

#score {
	text-align:center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	z-index: 12 !important;

	color: white;
}

.big-text {
	text-align:center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	z-index: 12 !important;

	color: #5adb5a;
}
